@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@inject IViewLocalizer Localizer
@model TrainingNet.Models.Views.MovieViewModel

@using (Html.BeginForm("@ViewData[\"FormAction\"].Value","Movie",FormMethod.Post, new { @class = "form-horizontal" }))

{  
    @Html.AntiForgeryToken()
    <br>
    <h2>@Localizer["Movie"]</h2>
    <hr/>
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class = "form-group">
            @Html.Label("Title",Localizer["Movie"].Value, new { @class = "col-md-2 control-label" })
            <div class = "col-md-10">
                @Html.EditorFor(m => m.Title, new { @class = "form-control" })
            </div>
        </div>
        <div class = "form-group">
            @Html.Label("ReleaseDate",Localizer["ReleaseDate"].Value, new { @class = "col-md-2 control-label" })
            <div class = "col-md-10">
                @Html.EditorFor(m => m.ReleaseDate, new { @class = "form-control" })
            </div>
        </div>
        <div class = "form-group">
            @Html.Label("Genre",Localizer["Genre"].Value, new { @class = "col-md-2 control-label" })
            <div class = "col-md-10">
                @Html.EditorFor(m => m.Genre, new { @class = "form-control" })
            </div>
        </div>
        <div class = "form-group">
            @Html.Label("Price",Localizer["Price"].Value, new { @class = "col-md-2 control-label" })
            <div class = "col-md-10">
                @Html.EditorFor(m => m.Price, new { @class = "form-control" })
            </div>
        </div>
        <div class = "form-group">
            @Html.Label("Rating",Localizer["Rating"].Value, new { @class = "col-md-2 control-label" })
            <div class = "col-md-10">
                @Html.EditorFor(m => m.Rating, new { @class = "form-control" })
            </div>
        </div>
        <div class = "form-group">
            @Html.Label("Rating",Localizer["Rating"].Value, new { @class = "col-md-2 control-label" })
            <div class = "col-md-10">
                @Html.TextBoxFor(m => m.Rating, new { @class = "form-control" })
            </div>
        </div>
        <div class = "form-group">
            @Html.Label("Rating",Localizer["Rating"].Value, new { @class = "col-md-2 control-label" })
            <div class = "col-md-10">
                @Html.TextBoxFor(m => m.Rating, new { @class = "form-control" })
            </div>
        </div>
        <div class = "form-group">
            @Html.Label("Rating",Localizer["Rating"].Value, new { @class = "col-md-2 control-label" })
            <div class = "col-md-10">
                @Html.TextBoxFor(m => m.Rating, new { @class = "form-control" })
            </div>
        </div>
        <div class = "form-group">
            @Html.Label("Rating",Localizer["Rating"].Value, new { @class = "col-md-2 control-label" })
            <div class = "col-md-10">
                @Html.TextBoxFor(m => m.Rating, new { @class = "form-control" })
            </div>
        </div>
        <div class = "form-group">
            <div class = "col-md-10">
                <input type = "submit" class = "btn btn-default" value = @ViewData["ButtonOK"] />
        </div>
    </div>
}
