@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@using System.Collections.Generic
@using TrainingNet.Models.Views
@inject IViewLocalizer Localizer
@model MovieGenreViewModel
@{
    ViewData["Title"] = Localizer["Movie"];
}

<h2>@Localizer["Movie"]</h2>

<p>
    <a asp-area="" asp-controller="Movie" asp-action="Create">@(Localizer["Create"].Value) @(Localizer["Movie"].Value)</a>
</p>
<form asp-controller="Movie" asp-action="Index" method="get">
    <p>
        <select name="movieGenre" asp-items="Model.GenresList" asp-for="MovieGenre">
            <option value="">All</option>
        </select>
        <input type="text" name="SearchString" />
        <input type="submit" value="@Localizer["Filter"]" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.MoviesList[0].Title)
<<<<<<< e4005af0f695b3449088fe1d1dd001821796acdd
            </th>
            <th>
                @Html.DisplayNameFor(m => m.MoviesList[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.MoviesList[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.MoviesList[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.MoviesList[0].Rating)
=======
            </th>
            <th>
                @Html.DisplayNameFor(m => m.MoviesList[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.MoviesList[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.MoviesList[0].Price)
>>>>>>> Basic search and filtering
            </th>
            <th>@(Localizer["Options"].Value)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MoviesList) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@(Localizer["Edit"].Value)</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id">@(Localizer["Delete"].Value)</a> 
                    <a asp-action="Details" asp-route-id="@item.Id">@(Localizer["Details"].Value)</a>
                </td>
            </tr>
        }
    </tbody>
</table>
